@import "./utils/variables" ;
@import "./components/page-head" ;
@import "./components/logo" ;
@import "./components/header-menu" ;
@import "./components/banner";
@import "./components/speciality";
@import "./components/activity";
@import "./components/team";
@import "./components/customers";
@import "./components/footer" ;
@import "./components/subscript";
@import "./components/portfolio-menu";
@import "./components/image-menu";
@import "./components/contacts";
@import "./components/modal";
@import "./components/lead-form";
@import "./components/checkbox";
