.banner {
	background-color: var(--banner-color);

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/headder-banner.jpg);

	max-width: 1600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;

	&__title {
		color: var(--primary-title-color);

		font-weight: 900;
		font-size: 26px;

		@media screen and(min-width:1200px) {
			font-size: 44px;
			width: 696px;
		}
		line-height: 1.36;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		width: 360px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	&__btn {
		background-color: var(--button-color);
		color: var(--primary-title-color);

		font-family: "Roboto";
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;

		padding: 9px 31px;
		margin: 0 auto;
		display: block;

		cursor: pointer;
		border-radius: 4px;
		border: 1px solid transparent;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.banner {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(/images/headder-banner@2x.jpg);
	}
}
