.checkbox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	&__name {
		color: var(--primary-color);
		font-size: 12px;
		@media screen and(min-width:1200px) {
			font-size: 14px;
		}
		line-height: 1.71;
		letter-spacing: 0.03em;
		cursor: url(https://raw.githubusercontent.com/Marsym-21/goit-markup-hw-08/main/images/finger.png), pointer;
	}

	&__input {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	&__icon {
		display: inline-block;
		width: 16px;
		height: 15px;
		overflow: hidden;
		border: 2px solid var(--title-color);
		border-radius: 2px;
		cursor: url(https://raw.githubusercontent.com/Marsym-21/goit-markup-hw-08/main/images/finger.png), pointer;
		margin-right: 7px;
	}

	&__input:checked + &__icon {
		background-color: var(--effects-color);
		background-size: contain;
		border-color: var(--effects-color);
		background-image: url(../images/icon-check.svg);
		background-repeat: no-repeat;
	}

	&__link {
		color: var(--button-color);
		cursor: url(https://raw.githubusercontent.com/Marsym-21/goit-markup-hw-08/main/images/finger.png), pointer;
	}
}
