%link {
	display: block;
	padding-left: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.menu-list {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: 93px;
	@media screen and(max-width:767px) {
		display: none;
	}
	&__item {
		position: relative;
		color: var(--title-color);
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition-timing-function);
	}

	&__item:hover,
	&__item:focus {
		color: var(--effects-color);
	}

	&__link::after {
		display: inline-block;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--effects-color);

		transform: scaleX(0);
		transition-property: transform opacity;
		transition-duration: 250ms;
		transition-timing-function: var(--transition-timing-function);
	}

	&__link--current::after {
		display: inline-block;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--effects-color);

		transform: scaleX(1);
	}

	&__link:hover::after {
		color: var(--effects-color);
		transform: scaleX(1);
	}

	&__item:not(:last-child) {
		margin-right: 50px;
	}

	&__link {
		@extend %link;
		padding-top: 32px;
		padding-bottom: 31px;
		color: currentColor;
	}
}

.contacts-list {
	@extend .menu-list;
	margin-left: auto;

	@media screen and(max-width:767px) {
		display: none;
	}

	@media screen and(min-width:768px) {
		display: block;
	}

	&__link {
		@extend %link;
		color: var(--primary-color);
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition-timing-function);
		display: flex;
		align-items: center;
	}

	&__link:hover,
	&__link:focus {
		color: var(--effects-color);
	}

	&__item:not(:last-child) {
		margin-bottom: 10px;
		@media screen and(min-width:1200px) {
			margin-right: 30px;
		}
	}

	&__svg {
		margin-right: 10px;
		fill: currentColor;
	}
}
