.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--title-color);
	margin: 0;
	padding: 0;
	background-color: var(--body-color);
	border: none;
	border-radius: 50%;
	outline: none;

	&:hover &__icon-close,
	&:focus &__icon-close {
		color: var(--effects-color);
		cursor: pointer;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition-timing-function);
	}

	&__icon-close {
		fill: currentColor;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition-timing-function);
	}

	@media (min-width: 768px) {
		.menu-toggle {
			display: none;
		}
	}
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 32px;
	background-color: var(--body-color);
	z-index: 999;

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: var(--title-color);
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.mobile-menu .link {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}
