.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: opacity;
	transition-duration: 250ms;
	transition-timing-function: var(--transition-timing-function);

	&.is-hidden {
		transform: opacity;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&.is-hidden .modal {
		transform: translate(-15px, -93px) scale(0.5);
		@media screen and(min-width:1200px) {
			transform: translate(-50%, -50%) scale(0.5);
		}
	}
}

.modal {
	position: absolute;
	top: 93px;
	left: 15px;
	max-width: 450px;
	max-height: 609px;

	@media screen and(min-width:1200px) {
		top: 50%;
		left: 50%;
		min-width: 528px;
		min-height: 581px;
		transform: translate(-50%, -50%);
	}

	transform: translate(-15px, -93px) scale(1);

	background-color: var(--body-color);
	border-radius: 4px;

	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: var(--transition-timing-function);

	padding: 40px;

	&__icon-vector {
		fill: currentColor;
	}
}

.modal__btn {
	color: var(--title-color);
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	background-color: var(--body-color);
	padding: 8.5px;
	cursor: url("/images/finger.png"), pointer;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: var(--transition-timing-function);

	&:hover,
	&:focus {
		color: var(--effects-color);
	}

	&-bottom {
		background-color: var(--button-color);
		color: var(--body-color);
		display: block;
		margin: 0 auto;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.87;
		letter-spacing: 0.06em;
		text-align: center;

		cursor: url("/images/finger.png"), pointer;

		padding: 10px 52px;
		border: none;
		border-radius: 4px;
		margin-top: 30px;

		box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
	}
}
