.page-head {
	background-color: var(--body-color);
	border-bottom: 1px solid var(--border-bottom);
}

.container__head {
	display: flex;
	align-items: center;
}

.site-nav {
	@extend .container__head;

	& .menu-list__link--current {
		color: var(--effects-color);
	}
}
