.page-head {
	background-color: var(--body-color);
	border-bottom: 1px solid var(--border-bottom);
}

.container__head {
	display: flex;
	align-items: center;
}

.site-nav {
	@media screen and (max-width: 767px) {
		width: 100%;
		justify-content: space-between;
	}

	@extend .container__head;

	& .menu-list__link--current {
		color: var(--effects-color);
	}

	@media screen and (max-width: 767px) {
		&__btn {
			border: none;
			background-color: var(--body-color);
			color: var(--title-color);
			padding: 10px 0;
			margin-left: auto;
		}
		&__btn:hover &__svg,
		&__btn:focus &__svg {
			color: var(--effects-color);
			cursor: pointer;
			transition-property: color;
			transition-duration: 250ms;
			transition-timing-function: var(--transition-timing-function);
		}
	}
	&__svg {
		fill: currentColor;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition-timing-function);
	}

	@media screen and (min-width: 768px) {
		&__btn {
			display: none;
		}
	}
}
