.speciality {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	&__list {
		display: block;
		margin: 0;
		padding: 0;

		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0;
			padding: 0;
		}

		@media screen and (min-width: 1200px) {
			display: flex;
			margin: 0;
			padding: 0;
		}
	}

	&__item {
		@media screen and (min-width: 768px) {
			width: calc((100% - 2 * 15px) / 2);
		}

		@media screen and (min-width: 1200px) {
			width: 270px;
		}
	}

	@media screen and (min-width: 768px) {
		&__item:nth-child(-n + 2) {
			margin-bottom: 30px;
		}
	}

	@media screen and (max-width: 767px) {
		&__item:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		&__item:not(:first-child) {
			margin-left: 30px;
		}
	}

	&__icon {
		background-color: var(--team-background-color);

		height: 120px;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 4px;
		margin-bottom: 30px;
	}

	&__name {
		@media screen and(max-width:767px) {
			text-align: center;
		}

		font-size: 14px;
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		margin: 0px;
		letter-spacing: 0.03em;
	}
}
