html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--primary-color: #757575;
	--primary-title-color: #ffffff;
	--title-color: #212121;
	--effects-color: #2196f3;
	--footer-color: rgba(255, 255, 255, 0.6);
	--button-color: #2196f3;
	--body-color: #ffffff;
	--border-bottom: #ececec;
	--banner-color: #2f303a;
	--team-background-color: #f5f4fa;
	--image-content-border-color: #eeeeee;
	--gradient-color: rgba(47, 48, 58, 0.4);
	--icon-color: #afb1b8;
	--background-color-img-activity: rgba(47, 48, 58, 0.8);
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body-studio,
.body-portfolio,
.body-contacts {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-title-color);
	color: var(--primary-color);

	margin: 0 auto;
}

img,
svg {
	display: block;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.speciality__title,
.speciality__name,
.activity__title,
.team__title,
.list-title,
.title,
.title-image,
.customer__title {
	color: var(--title-color);
}

.menu-list,
.contacts-list,
.speciality__list,
.activity__list,
.team__list,
.icons-box,
.customer__list,
.address__list,
.list-icon,
.portfolio__btn-menu,
.image-menu {
	list-style: none;
}

.page-head a,
.footer a,
.image-menu__link {
	text-decoration: none;
}

.activity__title,
.team__title,
.customer__title {
	@media screen and(max-width:1199px) {
		font-size: 28px;
	}

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.container {
	max-width: 480px;
	padding: 0 15px;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		max-width: 768px;
		padding: 0 15px;
		margin: 0 auto;
	}

	@media screen and (min-width: 1200px) {
		max-width: 1200px;
		padding: 0 15px;
		margin: 0 auto;
	}
}
